body {
    background: url(../assets/img/fondo-brilloso.png), linear-gradient(to right, rgba(136, 231, 179, 1), rgba(193, 136, 231, 1));
    text-align: center;
    padding: 100px 200px;
      
}

.container {
    background-color: white;
    border-color: grey;
    border-style: groove;
    border-width: 2px;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 10px 10px 8px #888888;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    max-width: 100%;
    height: auto;
}

.res {
    color: rebeccapurple;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

#btn-send1 {
    background-color: rgb(149, 74, 192); 
    border: double rgba(136, 231, 179, 1);
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#btn-send1:hover {
    background-color: white;
    border: double rgba(136, 231, 179, 1);
    border-radius: 10px;
    color:rgb(149, 74, 192);
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    box-shadow: 2px 5px grey;
}

#btn-send2 {
    background-color: rgb(149, 74, 192); 
    border: double rgba(136, 231, 179, 1);
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
}

#btn-send2:hover {
    background-color: white;
    border: double rgba(136, 231, 179, 1);
    border-radius: 10px;
    color:rgb(149, 74, 192);
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 5px grey;
}

#text1 {
    width: 50%;
    height: 150px;
    padding: 5px 5px;
    border: 2px solid rgba(136, 231, 179, 1);
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
    display: inline-block;
}

.n1 {
    width: 25%;
    height: 10px;
    padding: 5px 5px;
    border: 2px solid rgba(136, 231, 179, 1);
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
    display: inline-block;
}

.mov {
    float: right;
}

#des {
    width: 50%;
    height: 150px;
    padding: 5px 5px;
    border: 2px solid rgba(136, 231, 179, 1);
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
    display: inline-block;
}

h3 {
    font-size: 3.0vh;
}

p {
    text-align: justify;
}

/*Responsive

@media only screen and (max-width: 1280px) and (min-width:) */